.nav-cont{
    
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cont-log{
    display: flex;
    gap: 10px;
}

.cont-btns{
    display: flex;
    gap: 20px;
}

.cont-log img{
    width: 40px;
    height: 40px;
}

.cont-log h3{
   margin-top: 3px;
}

.btn-warning{
    margin-right: 25px;
}

.items-men{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    margin-top: 17px;
}

.items-men a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.items-men a:hover {
    color: #0dcaf0;
}

/*@media(  max-width: 600px ){
    .items-men{
        display: none;
    }
}*/